*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
   
  }


   /* block3 css starts here */
   .block3-container{
          
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 70px;
    margin-right: -70px; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
   
}
.blk3-content-container1{
    
    width: 50%;
    height: 387px;
    background-color: #f1c50e;
}
.blk3-content-container2{
    width: 50%;
    height: 387px;
    
    background-image: url(../img/block3-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.blk3-content-container3{
    width: 50%;
    height: 387px;
    background-image: url(../img/block3-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blk3-content-container4{
   
    width: 50%;
    height: 387px;
    background-color: #db545a;
}
.core-discipline{
    width:499px;
    margin:76px  20px 0px 101px;
    
    /* padding-left:101px; */
    padding-bottom: 101px;
    font-family:roboto;
    font-style: normal;
    font-size: 30px;
    font-weight:400px;
    line-height:36px;
    color:#111111;

}
.blk3-shape1{
    width:409px;
    height:76px;
    margin:8px auto 0px 0px;
   
    background-color:#db545a;

}
.blk3-shape2{
    width:409px;
    height:76px;
    margin:8px auto 0px 0px;
  
    background-color:#ffffff;

}
.blk3-shape3{
    width:409px;
    height:76px;
    margin:8px auto 0px 0px;
  
    background-color:#ffffff;

}
.blk3-shape4{
    width:409px;
    height:76px;
    margin:8px auto 0px 0px;
    background-color:#f1c50e;

}
.discipline{
    width:499px;
    margin:-64px  20px 0px 101px;
    /* padding-left:101px; */
    font-family:roboto;
    font-style: normal;
    font-size:48px;
    font-weight:400px;
    line-height:53px;
    color:#111111;

}
.blk3-paragraph{
    width:460px;
    margin:20px 59px 0px 101px;
    /* padding-left:101px; */
    font-family:roboto;
    font-style:normal;
    font-size:16px;
    font-weight:400px;
    line-height:26px;
    color:#111111;

}
.white-font{
    color:#ffffff
}
.arrow-icon-box{
   
   
    padding-left:101px;
}
.arrow-icon{
    height: 45px;
    width: 45px;
   
   
}
 
 /* block 3 css ends here */


  /* block 4 css starts here */
 
  .block4-container{
    height: 537px;
     width: 100%;
     /* margin-left: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    
    
   

}
.blk4-image-container{
    height: 537px;
    width: 100%;
    display: flex;
   background-image: url(../img/blk4-bg.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
   
   
    
}

.blk4-header-container1{
    width:25%;
    height: 350px;
    margin:145px auto 43px 100px;
   
}
.zero-two{
    width:245px;
    margin:5px 0px 0px 0px;
   
    font-family:roboto, sans-sefif;
    font-size:168px;
    font-style:normal;
    font-weight:400px;
    line-height:185px;
    color:#ffffff;

}
.blk4-header-container2{
    width:75%;
    height: 350px;
    margin:145px auto 43px 0px;
}
.blk4-heading3{
    width:735px;
    margin:15px 0px 0px 0px;
   
    font-family:roboto, sans-sefif;
    font-size:20px;
    font-style:normal;
    font-weight:400px;
    line-height:24px;
    color:#ffffff;

}
.blk4-heading2{
    width:735px;
    margin:20px 0px 0px 0px;
    
    font-family:roboto, sans-sefif;
    font-size:36px;
    font-style:normal;
    font-weight:400px;
    line-height:36px;
    color:#ffffff;

}
.blk4-paragraph{
    width:735px;
    margin:20px 0px 0px 0px;
   
    font-family:roboto, sans-sefif;
   /* block 5 css starts here */
  
   .wrapper{
           
    width: 100%;
    height: 754px;
    display: flex;
    /* margin-left: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     */
    
}
.container1{
 width: 50%;
 height: 750px;
 
 display: flex;
flex-wrap: wrap;
 
}
.img-container2{
  
    background-color: #db545a;
}
.blk5-discipline{
 width:270px;
 height:42px;
 justify-content: center;
 margin:0px 20px 0px 20px;
 margin-top: 150px;

 font-family:opensans, sans-sefif;
 font-size:48px;
 font-style:normal;
 font-weight:400px;
 line-height:53px;
 color:#ffffff;

}
.blk5-btn{
 width:138px;
 height:42px;
 margin: 20px auto 30px 100px;
 border: none;

 font-family:opensans, sans-sefif;
 font-size:14px;
 font-style:normal;
 font-weight:400px;
 line-height: 22px;
 color:#111111;
 background-color:#f1c50e;
=======
   /* block7 css starts here */
   .block7-container{
    height: 509px;
    width:100%;
    display: flex;

}
.blk7-header-container1{
    width: 50%;
    height: 509px;
    background-image: url(../img/block7-1.png);
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    
}
.blk7-heading3{
    width:505px;
    margin:87px 0px 0px 76px;
    font-family: roboto, sans-sefif;
    font-size:20px;
    font-style:normal;
    font-weight:400px;
    line-height:24px;
    color:#ffffff;

}
.blk7-heading2{
    width:505px;
    margin:20px 0px 0px 76px;
    font-family: lora; sefif;
    font-size:48px;
    font-style:normal;
    font-weight:400px;
    line-height:53px;
    color:#ffffff;

}
.blk7-paragraph{
    width:505px;
    margin:20px 0px 0px 76px;
    font-family: open sans, sans-sefif;
    font-size:16px;
    font-style:normal;
    font-weight:400px;
    line-height:26px;
    color:#ffffff;

    
}
.blk7-header-container2{
    width: 50%;
    height: 509px;
    background-image: url(../img/block7-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    
>>>>>>> footer-block-7
}
.social-icon{
    width:230px;
    margin:20px auto 118px 76px;
    font-family: open sans, sans-sefif;
    font-size:16px;
    font-style:normal;
    font-weight:400px;
    line-height:0px;
   

<<<<<<< HEAD
.img-container1{
    background-image: url(../img/block5-1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.img-container3{
    background-image: url(../img/block5-2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.img-container4{
    background-image: url(../img/block5-3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box-size{
    width:50%;
    height: 377px;
    
    
}
.container2{
   width: 50%; 
   height: 754px;
   background-image: url(../img/block5-4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  
  
 }
 .image-size{
     width: 100%;
     height: 377px;
 }
 .big-image-size{
     /* width:100%;
     height: 754px; */
 }


  /* block 5 css ends here */
 
 





  /* block 6 css starts here */
  .block6-container{
    /* margin-left: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    height: 475px;
    width:100%;
    display: flex;

}
.blk6-header-container1{
    width: 33%;
    height: 475px;
    background-color:#478ac9;
    
}

.blk6-heading3{
    width:298px;
    margin:35px 19px 0px 96px;
    font-family:roboto, sans-serif;
    font-size:30px;
    font-style:normal;
    font-weight:400px;
    line-height:36px;
    color:#ffffff;
   

    
}
.blk6-heading2{
    
    width:296px;
    margin:20px 21px 0px 96px;
    font-family: lora,serif;
    font-size:48px;
    font-style:normal;
    font-weight:400px;
    line-height:53px;
    color:#ffffff;
    

}
.blk6-paragraph{
    width:296px;
    margin:20px 21px 35px 96px;
    font-family:open sans, sans-sefif;

    font-size:16px;
    font-style:normal;
    font-weight:400px;
    line-height:26px;
    color:#ffffff;


}
.blk4-btn{
    width:129px;
    height:42px;
    margin:20px auto 0px 0px;
    padding:10px 30px;
    font-family:opensans, sans-sefif;
    font-size:14px;
    font-style:normal;
    font-weight:400px;
    line-height:22px;
    background-color: #047cec;
    border: none;

}

  /* block 4 css ends here */



.blk6-header-container2{
    width: 67%;
    height: 475px;
    background-image: url(../img/block6-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
    
}
.zero-three{
    width:210px;
    margin:230px 50px 74px 0px;
    
    font-family:roboto, sans-serif;
    font-size:168px;
    font-weight:700px;
    line-height:185px;
    color:#ffffff;
    float:right;

    
}

/* block 6 css ends here */
 



.fa{
    padding:5px;
    font-size: 16px;
    background-color: #111111;
    color:#e6a483;
    text-decoration: none;
    border-radius: 50%;
    

}
.footer-text{
    text-align: center;
    background-color: black;
    color:white;
    height: 40px;
    padding:10px;
}
/* block 7 css ends here */



 